{% extends "base_form.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content_form %}
    <form method="POST" class="contact-form" style="width:65%; align:center; margin: 0 auto; margin-top:35px;  direction: rtl;">
       <h4 style="text-align:center;">{{ title }}</h4>
       {% csrf_token %}
       {{ form.as_p }}
       <div class="d-grid" style="margin-top:10px;">
           <button class="btn btn-dark btn-lg " id="submitButton" type="submit">حفظ</button>
       </div>
    </form>
{% endblock %}
