{% extends "base.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <br><h4> الشهور</h4>
  <form method="GET" class="contact-form" style="width:45%; align:center; margin: 0 auto; margin-top:35px;  direction: rtl;">
       <h4 style="text-align:center;">{{ title }}</h4>
       {{ form.as_p }}
       <div class="d-grid" style="margin-top:10px; ">
           <button class="btn btn-dark btn-lg " id="submitButton" type="submit">بحث</button>
           <a href="{% url 'affairs:location_creation' %}" class="btn btn-dark btn-lg" style="direction: ltr; display: inline; left: 10px;">
               اضافة
               <img src="{% static 'admin/img/icon-addlink.svg' %}" style="height10px; width10px">
           </a>
       </div>
    </form>

    {% if locations %}
    <table class="table table-striped" style="width:45%; align:center; margin: 0 auto; margin-top:65px;  direction: rtl;">
      <thead>
        <tr>
          <td>الاسم</td>
          <td>المزيد</td>
          <td>حذف</td>
        </tr>
      </thead>
      <tbody>
      {% for location in locations %}
        <tr>
          <td scope="row">{{ location.name }}</td>
          <td><a href="{{ location.get_absolute_url }}"> المزيد </a></td>
          <td><a href="{% url 'affairs:location_delete' location.id %}"> حذف </a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}

{% endblock %}
