<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>{% block title %} Techno Art {% endblock %}</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="{% static 'images/logo_white.jpeg' %}">
        {% include 'base/css.html' %}
        {% block extra_style %} {% endblock %}
    </head>
    <body>
        <!-- Nav -->
        {% include 'base/nav.html' %}

        <!-- Content -->
        <div id="page-container" style="min-height:100vh;">
            {% include 'base/messages.html' %}
		    {% block content %}
		    {% endblock %}
        </div>

        <!-- FOOTER -->
        {% include 'base/footer.html' %}

        <!-- SCRIPTS -->
        {% include 'base/js.html' %}
        {% block extra_js %} {% endblock %}
    </body>
</html>