{% extends 'base.html' %}
{% load  static %}
{% block content %}
<!-- FEATURE -->
<section id="home" data-stellar-background-ratio="0.5">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">
               <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div class="home-info">
                         <h3>professional landing page</h3>
                         <h1>We help you manage your website successfully!</h1>
                    </div>
               </div>
          </div>
     </div>
</section>

<!-- CONTACT -->
<section id="contact" data-stellar-background-ratio="0.5">
     <div class="container">
          <div class="row">
               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="jumbotron jumbotron-fluid">
                         <div class="container">
                              <h1 class="display-4">الاقسام الرئيسية</h1>

                              <div class="card border-primary mb-3" style="max-width: 18rem; display: inline-block; margin: 20px;;">
                                   <div class="card-header">الشؤون الوظيفية</div>
                                   <div class="card-body text-primary">
                                        <div class="container" style="display: inline;">
                                             <a href="{% url 'admin:affairs_month_add' %}"><img src="{% static 'admin/img/icon-addlink.svg' %}" style="height10px; width10px"></a>
                                             <a href="{% url 'admin:affairs_month_changelist' %}"><img src="{% static 'admin/img/icon-changelink.svg' %}" style="height10px; width10px"></a>
                                             <h5 class="card-title" style="display: inline;">الحضور والانصراف</h5>
                                        </div>
                                        <div class="container" style="display: inline;">
                                             <a href="{% url 'admin:affairs_location_add' %}"><img src="{% static 'admin/img/icon-addlink.svg' %}" style="height10px; width10px"></a>
                                             <a href="{% url 'admin:affairs_location_changelist' %}"><img src="{% static 'admin/img/icon-changelink.svg' %}" style="height10px; width10px"></a>
                                             <h5 class="card-title" style="display: inline;">ادارة الموقع</h5>
                                        </div>
                                        <div class="container" style="display: inline;">
                                             <a href="{% url 'admin:affairs_activity_add' %}"><img src="{% static 'admin/img/icon-addlink.svg' %}" style="height10px; width10px"></a>
                                             <a href="{% url 'admin:affairs_activity_changelist' %}"><img src="{% static 'admin/img/icon-changelink.svg' %}" style="height10px; width10px"></a>
                                             <h5 class="card-title" style="display: inline;">نشاط الشركة</h5>
                                        </div>
                                   </div>
                              </div>

                              <div class="card border-primary mb-3" style="max-width: 18rem; display: inline-block; margin: 20px;;">
                                   <div class="card-header">الشؤون الادارية</div>
                                   <div class="card-body text-primary">
                                        <div class="container" style="display: inline;">
                                             <a href="{% url 'admin:accounts_user_add' %}"><img src="{% static 'admin/img/icon-addlink.svg' %}" style="height10px; width10px"></a>
                                             <a href="{% url 'admin:accounts_user_changelist' %}"><img src="{% static 'admin/img/icon-changelink.svg' %}" style="height10px; width10px"></a>
                                             <h5 class="card-title" style="display: inline;">الادارة</h5>
                                        </div>
                                        <div class="container" style="display: inline;">
                                             <a href="{% url 'admin:accounts_worker_add' %}"><img src="{% static 'admin/img/icon-addlink.svg' %}" style="height10px; width10px"></a>
                                             <a href="{% url 'admin:accounts_worker_changelist' %}"><img src="{% static 'admin/img/icon-changelink.svg' %}" style="height10px; width10px"></a>
                                             <h5 class="card-title" style="display: inline;">العمال</h5>
                                        </div>
                                         <div class="container" style="display: inline;">
                                             <h5 class="card-title" style="display: inline;">---</h5>
                                        </div>

                                   </div>
                              </div>


                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>

{% endblock %}