{% extends 'base.html' %}
{% load  static %}

{% block content %}
<section id="contact" data-stellar-background-ratio="0.5" style="margin-top: 20px;">
     <div class="container">
          <div class="row">
               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="jumbotron jumbotron-fluid">
                         {% if request.user.is_authenticated and request.user.is_superuser %}
                         <div class="container">
                              <h1 class="display-4" style=" ">الاقسام الرئيسية</h1>
                              <div class="card border-primary mb-3" style="max-width: 18rem; display: inline-block; margin: 20px;;">
                                   <div class="card-header" style="font-size: 25px;">الشؤون الوظيفية</div>
                                   <div class="card-body text-primary">
                                        <div class="container" style="display: inline;">
                                             <h5 class="card-title" style="display: inline; font-size: 20px;">
                                                  <a href="{% url 'affairs:month_creation' %}" style="color: #337ab7;"><img src="{% static 'admin/img/icon-addlink.svg' %}" style="height10px; width10px">
                                                       تسجيل الحضور والانصراف
                                                  </a>
                                             </h5>
                                        </div>
                                        <div class="container" style="display: inline; direction: ltr">
                                             <h5 class="card-title" style="display: inline; font-size: 20px;"> المواقع</h5>
                                             <a href="{% url 'affairs:location_creation' %}" style="display:inline"><img src="{% static 'admin/img/icon-addlink.svg' %}" style="height10px; width10px">اضافة</a>
                                             <a href="{% url 'affairs:location_list' %}"  style="display:inline"><img src="{% static 'admin/img/icon-changelink.svg' %}" style="height10px; width10px">تعديل</a>
                                        </div>
                                         {% if not request.user.activity %}
                                         <div class="container" style="display: inline; direction: ltr">
                                             <h5 class="card-title" style="display: inline; font-size: 20px;"> الانشطة</h5>
                                             <a href="{% url 'affairs:activity_creation' %}" style="display:inline"><img src="{% static 'admin/img/icon-addlink.svg' %}" style="height10px; width10px">اضافة</a>
                                             <a href="{% url 'affairs:activity_list' %}"  style="display:inline"><img src="{% static 'admin/img/icon-changelink.svg' %}" style="height10px; width10px">تعديل</a>
                                        </div>
                                        {% endif %}
                                   </div>
                              </div>
                         </div>
                         <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                         <div class="card-header" style="font-size: 25px;">التقارير</div>
                         <ul>
                              <li style="display: inline; list-style: none; padding: 10px; font-size: 20px;"><a href="{% url 'affairs:accommodation_report' %}" class="btn btn-info"> الاقامات</a></li>
                              <li style="display: inline; list-style: none; padding: 10px; font-size: 20px;"><a id="report-btn" class="btn btn-info"> الرواتب</a></li>
                              <li style="display: inline; list-style: none; padding: 10px; font-size: 20px;"><a href="{% url 'affairs:activity_list' %}" class="btn btn-info"> الانشطة</a></li>
                              <li style="display: inline; list-style: none; padding: 10px; font-size: 20px;"><a href="{% url 'affairs:location_report' %}" class="btn btn-info"> المواقع</a></li>
                         </ul>
                         <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                         <div class="card border-primary mb-3" style="max-width: 18rem; display: inline-block; margin: 20px;;">
                              <div class="card-header" style="font-size: 25px;">الشؤون الادارية</div>
                              <div class="card-body text-primary">
                                   {% if not request.user.activity %}
                                   <div class="container" style="display: inline;">
                                        <h5 class="card-title" style="display: inline; font-size: 20px;">الادارة</h5>
                                        <a href="{% url 'accounts:user_creation' %}"><img src="{% static 'admin/img/icon-addlink.svg' %}" style="height10px; width10px">اضافة</a>
                                        <a href="{% url 'accounts:user_list' %}"><img src="{% static 'admin/img/icon-changelink.svg' %}" style="height10px; width10px">تعديل</a>
                                   </div>
                                   {% endif %}
                                   <div class="container" style="display: inline; direction: ltr">
                                        <h5 class="card-title" style="display: inline; font-size: 20px;"> العمال</h5>
                                        <a href="{% url 'accounts:worker_creation' %}" style="display:inline"><img src="{% static 'admin/img/icon-addlink.svg' %}" style="height10px; width10px">اضافة</a>
                                        <a href="{% url 'accounts:worker_list' %}"  style="display:inline"><img src="{% static 'admin/img/icon-changelink.svg' %}" style="height10px; width10px">تعديل</a>
                                   </div>
                              </div>
                         </div>
                         {% else %}
                         <h5 class="card-title" style="display: inline; font-size: 20px;">شركة تكنو ارت للمقاولات</h5>
                         {% endif %}
                    </div>
               </div>
          </div>
     </div>
</section>

<input type="hidden" value="{% url 'affairs:multi_worker_report' %}" id="multi">
<input type="hidden" value="{% url 'affairs:single_month_report' %}" id="single">

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
window.onload = function(){
     var btn = $('#report-btn');

     var div = document.createElement('div');

     var createA = document.createElement('a');
     var createAText = document.createTextNode('شهري تفصيلي لشخص واحد          ');
     createA.setAttribute('href', $('#single').val());
     createA.style.padding = '20px';
     createA.appendChild(createAText);

     var createB = document.createElement('a');
     var createBText = document.createTextNode('الرواتب لاكثر من شخص');
     createB.setAttribute('href', $('#multi').val());
     createB.style.padding = '20px';
     createB.appendChild(createBText);

     div.appendChild(createA);
     div.appendChild(createB);

     btn.on('click', function(e){
          swal({
               title: 'تقرير الرواتب',
               content: div,
               button: 'الغاء'
          });
     });
};
</script>
{% endblock %}